
module "single-page-application" {
  source = "{{ src['single-page-application'] }}"

  environment            = "{{ environment }}"
  bucket_name            = "{{ bucket_name }}"
  s3_versioning_enabled  = {{ s3_versioning_enabled | lower }}
  cloudfront_price_class = "{{ cloudfront_price_class }}"
  waf_name               = "{{ waf_name }}"
  waf_managed_rule_group = "{{ waf_managed_rule_group }}"
}
