terraform {
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = ">= 3.0"
    }
  }
  required_version = ">= 1.5"
{% if backend_block %}
{{ backend_block }}
{% endif %}
}

provider "azurerm" {
  subscription_id = "{{ subscription_id }}"
  tenant_id       = "{{ tenant_id }}"
{% if client_id is defined %}
  client_id       = "{{ client_id }}"
  client_secret   = "{{ client_secret }}"
{% endif %}
  features {}
}
