{{ provider_block }}
# ── Molecules ─────────────────────────────────────────────────────────────────

module "single-page-application" {
  source = "{{ src['single-page-application'] }}"

  environment              = "{{ environment }}"
  resource_group_name      = "{{ resource_group_name }}"
  location                 = "{{ location }}"
  storage_account_name     = "{{ storage_account_name }}"
  account_tier             = "{{ account_tier }}"
  account_replication_type = "{{ account_replication_type }}"
  frontdoor_profile_name   = "{{ frontdoor_profile_name }}"
  frontdoor_endpoint_name  = "{{ frontdoor_endpoint_name }}"
  frontdoor_sku_name       = "{{ frontdoor_sku_name }}"
}
